.footers{ background-color: #E6E6FA}
.footers a {color: #4B0082;}
.footers p {color:#778899;}
.footers ul {line-height:30px;}
#social-fb:hover {
     color: #3B5998;
     transition:all .001s;
 }
 #social-tw:hover {
     color: #4099FF;
     transition:all .001s;
 }
 #social-gp:hover {
     color: #d34836;
     transition:all .001s;
 }
 #social-em:hover {
     color: #f39c12;
     transition:all .001s;
 }

.footers-logo{
  font-size: 2em;
  color: #000;
}
